<h3 class="content-header">Welcome to the Pre-Trade Risk UI</h3>
<p><%= link_to 'View Accounts', accounts_path %></p>
<p><%= link_to 'View Orders', orders_path %></p>
<p><%= link_to 'Risk Controls', controls_path %></p>
